.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 20px 10px;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.profilePic {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  margin-right: 10px;
}
.navbarLinks {
  display: flex;
  align-items: center;
}
.navbarLinks a {
  color: white;
  text-decoration: none;
  margin-right: 1.25em;
}
.navbarSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-right: 2em;
}
.navbarSocial a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}

.name {
  font-size: 2.5em;
  font-family: 'MiFuente', cursive;
}
.name span {
  color: orange;
}
.menuButton {
  display: none;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(8, 8, 8);
  width: 80%;
  border-radius: 2em;
}

.mobileMenu a {
  color: white;
  text-decoration: none;
  margin: 1em 0;
}
@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    z-index: 999;
  }
  .navbarLinks {
    flex-wrap: wrap;
    margin: 1em;
    justify-content: center;
    gap: 1em;
  }

  .menuButton {
    background-color: transparent;
    border: none;
    color: white;
    width: 50px; /* Ancho del botón */
    height: 50px; /* Alto del botón */
    border-radius: 50%;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    z-index: 999;
  }
  .mobileMenu {
    position: fixed;
    z-index: 999;
    margin-top: 3em;
  }
}
